body {
	font-family: 'Gentium Book Basic', Georgia, serif;
	font-size: 16px;
	line-height: 25px;
}

h1 {
	text-align: center;
	border-top: 1px solid #333;
}

h1 span.rule {
  background: #fff;
  padding: 20px;
  position: relative;
  top: -32px;	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	text-transform: none;
}

h1,
h2,
h3 {
  line-height: 60px;
}

input,
button,
select,
textarea {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.navbar {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 800;	
	text-transform: uppercase;
}

.navbar-search .search-query {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* End styles from Bootstrap.css */

.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

.center .dropdown-menu {
    text-align: left;
}

.main .container {
	padding-top: 60px;
}

header,
section {
	padding: 150px 0 50px;
}

#title h1 {
	border: none;
	font-size: 64px;
	line-height: 60px;
	text-transform: uppercase;
}

#title h1 span {
	font-family: 'Gentium Book Basic', Georgia, serif;
	font-size: 60px;
	font-style: italic;
	text-transform: none;
}

.img-circle.pull-right img {
	margin:0 0 10px 10px;
}

#wedding h2 {
	font-size: 17px;
	line-height: normal;
	margin: 50px 0 15px 160px;
}

#wedding i {
	vertical-align: baseline;
}

#wedding img {
	margin: 5px 20px 10px 0;
}

footer {
	background-color: #eee;
	margin-top: 100px;
	padding: 50px;
}